<div class="container">
  <div class="row">
    <div class="main-bar test-preview">
      <span class="display-4 d-flex justify-content-center">Test</span>
      <label for="title">Title:</label>
      <input type="text" class="form-control"
             name="test-title" id="title"
             [(ngModel)]="test.title" readonly>
      <label for="description">Description:</label>
      <textarea class="form-control mb-4"
                name="description" id="description"
                [(ngModel)]="test.description" readonly>
      </textarea>
      <div class="row">
        <div class="col">
          Count of questions: {{countOfQuestions}}
        </div>
        <div class="col d-flex justify-content-end">
          Count of views: {{test.visitorsCount}}
        </div>
      </div>
      <div *ngIf="!isYourTest" class="row mt-3">
        <div class="col">
          <button (click)="passTest()" type="button" class="btn btn-primary">
            Pass the test
          </button>
        </div>
      </div>
      <div *ngIf="isYourTest" class="row mt-3">
        <div class="col">
          <button type="button" class="btn btn-primary">Update</button>
        </div>
        <div class="col d-flex justify-content-end">
          <button type="button" class="btn btn-danger">Remove</button>
        </div>
      </div>
    </div>
  </div>
</div>