<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="sidebar-position">
                <div class="left-sidebar p-3">
                    <h5>Newest tests:</h5>
                    <div class="newest-test">
                        NewTest-1
                    </div>
                    <div class="newest-test">
                        NewTest-2
                    </div>
                    <div class="newest-test">
                        NewTest-3
                    </div>
                    <div class="newest-test">
                        NewTest-4
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg">
            <div class="main-bar">
                <div class="search-block justify-content-center">
                    <span class="display-4">Search</span>
                    <form>
                        <input type="text" class="form-control">
                        <div class="row mb-3">
                            <div class="form-check col mt-3">
                                <input class="form-check-input mt-2" type="radio" name="exampleRadios"
                                    id="exampleRadios1" value="option1" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                    For tests
                                </label>
                            </div>
                            <div class="form-check col mt-3">
                                <input class="form-check-input mt-2" type="radio" name="exampleRadios"
                                    id="exampleRadios2" value="option2">
                                <label class="form-check-label" for="exampleRadios2">
                                    For authors
                                </label>
                            </div>
                            <div class="col-lg">
                                <button type="button" class="btn btn-primary btn-block">
                                    Search
                                </button>
                            </div>
                        </div>
                    </form>
                    <h2>Results:</h2>
                    <div id="RESULTS">
                        <div class="result-test">
                            <div class="row">
                                <div class="col-3 test-title">Test1</div>
                                <div class="col-3 views"><i class="far fa-eye"></i> 202</div>
                                <div class="col author">by Author1</div>
                            </div>
                            <p>Description CSS has been the choice of the developers
                                when it comes to web development from the last few years.</p>
                        </div>
                        <div class="result-test">
                            <div class="row">
                                <div class="col-3 test-title">Test2</div>
                                <div class="col-3 views"><i class="far fa-eye"></i> 150</div>
                                <div class="col author">by Author1</div>
                            </div>
                            <p>The folding method can be set with the 'foldmethod' option.
                                This is currently not possible as we are relying on Code's Fold logic.</p>
                        </div>
                        <div class="result-test">
                            <div class="row">
                                <div class="col-3 test-title">Test3</div>
                                <div class="col-3 views"><i class="far fa-eye"></i> 16</div>
                                <div class="col author">by Author1</div>
                            </div>
                            <p>The next generation of our icon library + toolkit is coming with more icons, more styles,
                                more services, and more awesome.</p>
                        </div>
                        <div class="result-test">
                            <div class="row">
                                <div class="col-lg-3 test-title">Test4</div>
                                <div class="col-lg-3 views"><i class="far fa-eye"></i> 198</div>
                                <div class="col author">by Author1</div>
                            </div>
                            <p>Description CSS has been the choice of the developers
                                when it comes to web development from the last few years.</p>
                        </div>
                        <div class="result-test">
                            <div class="row">
                                <div class="col-3 test-title">Test5</div>
                                <div class="col-3 views"><i class="far fa-eye"></i> 198</div>
                                <div class="col author">by Author1</div>
                            </div>
                            <p>Description CSS has been the choice of the developers
                                when it comes to web development from the last few years.</p>
                        </div>
                        <div class="result-test">
                            <div class="row">
                                <div class="col-3 test-title">Test6</div>
                                <div class="col-3 views"><i class="far fa-eye"></i> 198</div>
                                <div class="col author">by Author1</div>
                            </div>
                            <p>Description CSS has been the choice of the developers
                                when it comes to web development from the last few years.</p>
                        </div>
                        <div class="result-test">
                            <div class="row">
                                <div class="col-3 test-title">Test7</div>
                                <div class="col-3 views"><i class="far fa-eye"></i> 198</div>
                                <div class="col author">by Author1</div>
                            </div>
                            <p>Description CSS has been the choice of the developers
                                when it comes to web development from the last few years.</p>
                        </div>
                        <div class="result-test">
                            <div class="row">
                                <div class="col-3 test-title">Test8</div>
                                <div class="col-3 views"><i class="far fa-eye"></i> 198</div>
                                <div class="col author">by Author1</div>
                            </div>
                            <p>Description CSS has been the choice of the developers
                                when it comes to web development from the last few years.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="right-sidebar p-3 sidebar-position">
                <h5>Most popular tests:</h5>
                <div class="popular-test">
                    PopularTest-1
                </div>
                <div class="popular-test">
                    PopularTest-2
                </div>
                <div class="popular-test">
                    PopularTest-3
                </div>
                <div class="popular-test">
                    PopularTest-4
                </div>
            </div>
        </div>
    </div>
</div>