<div class="container">
  <div class="row">
    <div class="col-lg"></div>
    <div class="col-lg-6">
      <div class="main-bar signup-menu">
        <div class="text-center mb-3">
          <span class="display-4">Sign up</span>
        </div>
        <form action="">
          <div class="col">
          </div>
          <div class="col">
            <div class="row mb-2">
              <label for="email" class="col-lg-4 col-form-label ml-2 p-1">Email</label>
              <div class="col-lg">
                <input type="email" class="form-control ml-2" id="email"
                       aria-describedby="emailHelpId" required [(ngModel)]="account.mail">
              </div>
            </div>
            <div class="form-group row mb-2">
              <label for="username" class="col-lg-4 col-form-label ml-2 p-1">
                Username
              </label>
              <div class="col-lg">
                <input type="text" class="form-control ml-2" id="username"
                       required [(ngModel)]="account.login">
              </div>
            </div>
            <div class="form-group row mb-2">
              <label for="city" class="col-lg-4 col-form-label ml-2 p-1">
                City
              </label>
              <div class="col-lg">
                <input type="text" class="form-control ml-2" id="city"
                       required [(ngModel)]="account.city">
              </div>
            </div>
            <div class="form-group row mb-2">
              <label for="password" class="col-lg-4 col-form-label ml-2 p-1">
                Password
              </label>
              <div class="col-lg">
                <input type="password" class="form-control ml-2" id="password"
                       required [(ngModel)]="account.password">
              </div>
            </div>
            <div class="form-group row">
              <label for="confirm-password" class="col-lg-4 col-form-label ml-2 p-1">
                Confirm password
              </label>
              <div class="col-lg">
                <input type="password" class="form-control ml-2" id="confirm-password"
                       required [(ngModel)]="confirmPassword">
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" (click)="signup()" >
            Sign up
          </button>
        </form>
      </div>
    </div>
    <div class="col-lg"></div>
  </div>
</div>